// TYPOGRAPHY DEFAULTS
$font-line-height-body: 1.5 !default;
$font-line-height-heading: 1.1 !default;
$font-family-body: sans-serif !default;
$font-family-heading: sans-serif !default;
$font-family-mono: monospace !default;
$font-size-base: 16px !default;
$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-text-rendering: optimizeLegibility !default;
$font-vertical-align: baseline !default;

// WHITESPACE DEFAULTS
$space1: .5rem !default;
$space2: 1rem !default;
$space3: 2rem !default;
$space4: 4rem !default;

// COLOR DEFAULTS
$color-gray: #CCC;

// TATE INFO START 
//
// minified    : 0
// gzipped     : 0
// rules       : 0
// selectors   : 0
//
// imported by :
// - test/_base.scss
// - test/_utilities.scss
// - test/base/_reset.scss
// - test/base/_typography.scss
// - test/utilities/_whitespace.scss
//
// TATE INFO END 